@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.2rem;
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.7rem;
}
h4, .h4 {
  font-size: 1.3rem;
}
h5, .h5 {
  font-size: 0.8rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: .0625rem solid rgba(0, 0, 0, .1);
}


.container {
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
  
  border: 2px solid red;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 34em) {
  .container {
    max-width: 34rem;
  }
}

@media (min-width: 48em) {
  .container {
    max-width: 45rem;
  }
}

@media (min-width: 62em) {
  .container {
    max-width: 60rem;
  }
}

@media (min-width: 75em) {
  .container {
    max-width: 72.25rem;
  }
}

.row {
  margin-right: -.9375rem;
  margin-left: -.9375rem;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
