@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  
}
